/* css for luisschwab.dev */

:root {
  --background: #000;
  --purple: #6b00f7;
  --white: #fff;
  --orange: #fd810b;
}

html {
  overflow-y:auto;
}

body {
  color: var(--white);
  background: var(--background);
}

.wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (max-width: 540px) {
  .wrapper {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
  }

  .header .logo {
    font-size: 42px;
  }
}

@media screen and (min-width: 541px)
              and (max-width: 1500px) {
  .wrapper {
    margin-left: 8%;
    margin-right: 8%;
  }
}

.header {
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Bebas Neue', monospace;
}

.header a:hover {
  color: var(--orange);
}

.header ul {
  list-style-type: none;
  display: flex;
  font-size: 27px;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.header button {
  background-color: var(--background);
  border: 0px;
  padding: 0px;
}

#header-right-container {
  z-index: 10;
}

.ham-button {
  
}

.mobile-menu {
  font-size: 50px;
  font-weight: bolder;
  color: var(--purple);
  text-align: right;
}

 .mobile-menu-option {
   display: flex;
   flex-direction: row;
 }

.logo {
  color: var(--purple);
  font-size: 70px;
  font-weight: bolder;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.section {
  display:flex;
  flex-direction:column;
  margin-top: 40px;
}

.section-title {
  font-family: 'Bebas Neue', monospace;
  color: var(--purple);
  font-size: 50px;
}

.section-content {
  font-family: 'IBM Plex Sans';
  font-size: 23px;
  padding-right: 5px;
}

a, a:link, a:visited{
  color: var(--purple);
  background-color: transparent;
  text-decoration: underline;
}

a:hover{
  color: var(--orange);
}

ul {
  line-height: 0.8;
}

ul a:link {
  text-decoration: none;
}


