/* css for luisschwab.dev */

html {
  overflow-y:auto;
}

body {
  color:white;
  background:black;
  font-family:'Bebas Neue', monospace;
}

.wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (max-width: 400px) {
  .wrapper {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
  }
}

.header {
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  margin-top: 20px;
  margin-bottom: 30px;
}

.logo {
  color: #6b00f7;
  font-size: 55px;
  font-weight: bolder;
}

.left, .right {
  display:flex;
  align-items:center;
  gap:25px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.section {
  display:flex;
  flex-direction:column;
  margin-top: 40px;
}

.section-title {
  color: #6b00f7;
  font-size: 50px;
}

.section-content {
  font-family: 'IBM Plex Sans';
  font-size: 23px;
}

a:link, a:visited{
  color: #6b00f7;
  background-color: transparent;
  text-decoration: underline;
}

a:hover{
  color:#fd810b;
  background-color: transparent;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  display: flex;
  font-size: 27px;
  margin: 0;
  padding: 0;
  gap: 16px;
}

ul a:link {
  text-decoration: none;
}