/* CSS for luisschwab.dev */

/*  BITCOIN ORANGE: #FF9900 */ 

html{
    height: 90%;
    margin-bottom: 20px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;	
}

body{
  background-color:#000000; /*#FFFFFF*/
  color:#5b00a5; /*FF9900*/
  font-family: Monaco, monospace;
  margin-left: 8%;
  margin-right: 8%;
  padding-left: 10px;
  padding-right: 10px;
}

h1{display:block;width:100%;text-align:center;font-size: 280%;margin:0;line-height:0.8; font-weight: bolder;}
h2{display:block;width:100%;text-align:center;font-size: 230%;margin:0;line-height:0.5;}
h3{display:block;width:100%;text-align:center;font-size: 230%;margin:0;line-height:0.5;}
p {display:block;text-align:center;font-size:18px;width:100%;}

a:link, a:visited{
  color:#874fd1;
  background-color: transparent;
  text-decoration: underline;
}

a:hover{
  color:#fd810b;
  background-color: transparent;
  text-decoration: underline;
}

.wrapper{

}

.content{
  overflow-wrap: break-word;
  align-self: center;
  min-width: 360px;
  max-width: 100%;
}

.header{
  padding-top: 50px;
  background: #000000; /*#FFFFFF*/
  color: #5b00a5; /*FF9900*/
  width: 100%;
  margin-top: 20px;
  position: relative;
  font-size: 35px;
  letter-spacing: 0px;
  margin-left: 1%;
  margin-right: 1%;
}

.footer{
  color:#653b9c; /*FF9900*/
  background: #000000; /*#FFFFFF*/
  position: relative;
  align-self: center;
  width: 100%;
  text-align: center;
}
